:root {
  --primary-light: #8abdff;
  --primary: #6d5dfc;
  --primary-dark: #5b0eeb;
  --white: #FFFFFF;
  --greyLight-1: #E4EBF5;
  --greyLight-2: #c8d0e7;
  --greyLight-3: #bec8e4;
  --greyDark: #9baacf;
}

*,
*::before,
*::after {
  margin: 0;
  padding: 0;
  box-sizing: inherit;
}

html {
  box-sizing: border-box;
  font-size: 62.5%;
  overflow-y: scroll;
  background: var(--greyLight-1);
}

@media screen and (min-width: 900px) {
  html {
    font-size: 75%;
  }
}

.container {
  min-height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  font-family: 'Poppins', sans-serif;
  background: var(--greyLight-1);
}

.components {
  width: 75rem;
  border-radius: 3rem;
  box-shadow: 0.8rem 0.8rem 1.4rem var(--greyLight-2), -0.2rem -0.2rem 1.8rem var(--white);
  padding: 4rem;
  display: grid;
  grid-template-columns: 17.6rem 19rem 20.4rem;
  grid-column-gap: 5rem;
  grid-row-gap: 3rem;
  align-items: center;
}

@keyframes waves {
  0% {
    transform: scale(1);
    opacity: 1;
  }

  50% {
    opacity: 1;
  }

  100% {
    transform: scale(2);
    opacity: 0;
  }
}

.dribbble {
  position: fixed;
  font-size: 2.6rem;
  right: 2rem;
  bottom: 1rem;
  color: #EA4C89;
}




.wrapper-content {
  padding: 2vw;
  box-shadow: 0.3rem 0.3rem 0.6rem var(--greyLight-2), -0.2rem -0.2rem 0.5rem var(--white);
  border-radius: 1rem;
  min-height: 420px;
  width: 67rem;
}

.material-symbols-outlined {
  font-family: 'Material Symbols Outlined';
  font-weight: normal;
  font-style: normal;
  font-size: 19px;
  line-height: 1;
  letter-spacing: normal;
  text-transform: none;
  display: inline-block;
  white-space: nowrap;
  word-wrap: normal;
  direction: ltr;
  -webkit-font-smoothing: antialiased;
}

.name {
  font-size: 1.6rem;
  font-weight: 500;
  color: var(--primary);
}

.carrer {
  font-size: 1.3rem;
  font-weight: 500;
  color: var(--greyDark);
}

p {
  margin: 0.5vw;
  font-size: 1.2rem;
  color: var(--primary);
}


.load {
  flex-direction: column;
  font-family: Poppins;
  font-size: 20px;
  font-weight: 100;
  height: 90vh;
  justify-content: center;
  padding: 30px;
  display: none;
}

.loading {
  width: 90px;
  margin-bottom: 20px;
}

@media screen and (min-width: 320px) and (max-width: 767px) and (orientation: portrait) {
  .load {
    display: flex;
  }

  .container {
    display: none;
  }

  body {
    overflow: hidden;
  }
}

h4 {
  color: var(--primary);
  font-weight: 600;
  margin: 20px 0;
  width: 75%;
}

h5 {
  color: var(--primary);
  font-weight: 100;
  font-size: 2rem;
}


.stacks {
  align-items: center;
  border-radius: 12px;
  box-shadow: inset 0.2rem 0.2rem 0.5rem var(--greyLight-2), inset -0.2rem -0.2rem 0.5rem var(--white);
  color: var(--primary);
  display: flex;
  flex-direction: column;
  margin: 10px;
  padding: 10px;
  width: 170px;
}

.stacks-wrapper {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: space-around;
  margin: 20px -25px -25px;
}

.stack-title {
  display: flex;
  justify-content: space-between;
  width: 100%;
  margin-top: 10px;
}

.stack-image {
  width: 30px;
}

.stack-name {
  font-weight: 600;
}

.pdf-wrapper, .two-collums {
  display: flex;
  justify-content: space-between;
}

.pdf-wrapper {
  display: flex;
  align-items: center;
}

.content-link {
  font-size: 12px;
  margin: 0;
}

#contact-content {
  display: flex;
  flex-direction: column;
  align-items: center;
}